:root {
    --dark-blue: rgb(1, 32, 58);
    --dark-purple: rgb(113, 33, 234);
    --green: rgb(0, 228, 162);
    --gray: rgb(238, 238, 247);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    padding-top: 50px;
}

section {
    padding: 50px 0;
}

button {
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px 25px;
}

img {
    width: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5;
    padding: 0 5px;
}

h2 {
    text-transform: capitalize;
    margin-bottom: 35px;
}

h5 {
    color: var(--green);
    text-transform: capitalize;
}

.row {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
}

.row div {
    margin: 0 auto;
}

.flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.section-blue {
    background-color: var(--dark-blue);
}

.section-gray {
    background-color: var(--gray);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.logo-text,
.nav-link,
.fa-bars {
    color: white;
}

.nav-link:hover {
    color: white;
}

.logo-img {
    width: 80px;
    height: 60px;
}

.container-1600 {
    max-width: 1600px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.iframe-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.btn-purple {
    background-color: var(--dark-purple);
    color: white;
    margin-top: 25px;
}

.btn-white {
    background-color: white;
    color: black;
}

form {
    width: 100%;
    margin: 0 auto;
}

.contact-form {
    max-width: 1000px;
}

.subscribe-form {
    max-width: 500px;
}

input,
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 7px;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    color: white !important;
}

input::placeholder,
textarea::placeholder {
    color: white;
}

textarea {
    resize: none;
    height: 150px;
}

@media(min-width: 767px) {
    section {
        padding: 80px 0;
    }

    main {
        padding: 0px;
    }

    .navbar-collapse {
        flex-grow: 0 !important;
    }

    .container-1600-lg-text-left {
        text-align: left;
    }

    .iframe-container {
        height: 500px;
    }

    h1 {
        font-size: 72px;
    }

    h5 {
        margin-bottom: 20px;
    }

    .img-order {
        order: 1;
    }

    .text-order {
        order: 2;
    }
}

@media (min-width: 992px) {

    .navbar-expand-lg {
        justify-content: space-between;
    }

}